body{
	background-image: url("https://media4.giphy.com/media/61Zbol76ws06AHpecl/200.gif");
    background-position: center;
    background-size: cover;
}
#myCanvas{
	border-width:10px;
    background-image: url("https://image.shutterstock.com/image-vector/race-track-cars-view-above-600w-753187237.jpg");
    background-size: cover;
	border-style:ridge;
}
h1,h2{
	color: white !important;
}
h4 {
    color: black;
}